﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - net5._0SampleProject</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/assets/css/base.css">
    <link rel="stylesheet" href="~/assets/css/demo.css">

    <!-- script
    ================================================== -->
    <script src="~/assets/js/modernizr.js"></script>

    <!-- favicons
     ================================================== -->
    <link rel="icon" type="image/png" href="assets/favicon.png">
</head>
<body>
    <header>
        <div class="row">
            <div class="col-twelve">

                <h1>Khronos<span>.</span></h1>

                <p class="lead">
                    Khronos is a creative pack of coming soon template pages. It's elegant and clean design makes it
                    perfect for every creative people, corporate, agency or anyone who is currently building their
                    site and want to show a coming soon page in a creative way. Khronos is available in three style
                    variations: static, slideshow, and particle background. It is fully responsive and
                    retina ready, looks great on any screen and devices. It is also mailchimp ready and has a working ajax contact form.
                </p>

            </div>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="block-1-3 block-s-1-2 block-mob-full">
                @RenderBody()
            </div>
        </div>
    </main>


    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2021 - net5._0SampleProject - version 1.5
        </div>
    </footer>


    <div id="preloader">
        <div id="loader"></div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery-2.1.3.min.js"></script>
    <script src="assets/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
