﻿<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Khronos - Particles</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/assets/css/base.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/vendor.css">

    <!-- script
    ================================================== -->
    <script src="~/assets/js/modernizr.js"></script>

    <!-- favicons
     ================================================== -->
    <link rel="icon" type="image/png" href="~/assets/favicon.png">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <!-- header
    ================================================== -->
    <header>

        <div class="row">
            <div class="logo">
                <a href="index.html">Khronos</a>
            </div>

            <div class="social-links">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>

    </header> <!-- /header -->
    <!-- home
    ================================================== -->
    <section id="home" class="home-particles">

        <div class="shadow-overlay"></div>

        <div class="content-wrap-table">

            <div class="main-content-tablecell">

                <div class="row">
                    <div class="col-twelve">

                        <div id="counter">
                            <div class="half">
                                <span>334 <sup>days</sup></span>
                                <span>23 <sup>hours</sup></span>
                            </div>
                            <div class="half">
                                <span>50 <sup>mins</sup></span>
                                <span>33 <sup>secs</sup></span>
                            </div>
                        </div>

                        <div class="bottom-text">
                            <h1>Our site is launching soon.</h1>
                            <p>
                                Khronos is a modern and stylish website template designed to present
                                your future super awesome product or service.
                            </p>
                        </div>

                    </div> <!-- /twelve -->

                    <div class="scroll-icon">

                        <p class="scroll-text">Scroll For More Info</p>
                        <a href="#info" class="smoothscroll">
                            <div class="mouse"></div>
                        </a>
                        <div class="end-top"></div>

                    </div> <!-- /scroll-icon -->
                </div> <!-- /row -->

            </div> <!-- /main-content -->

        </div> <!-- /content-wrap -->

    </section> <!-- /home -->
    <!-- info
    ================================================== -->
    <section id="info">

        <div class="info-overlay"></div>

        <div class="row">
            <div class="col-twelve tabs-wrap">

                <ul class="tabs">
                    <li class="active" data-id="tab-about"><i class="icon-user"></i><span>About</span></li>
                    <li data-id="tab-contact"><i class="icon-mail"></i><span>Contact</span></li>
                    <li data-id="tab-subscribe"><i class="icon-newspaper"></i><span>Subscribe</span></li>
                </ul> <!-- /tabs -->

                <div class="tab-container">

                    <!-- tab content - about
                    ================================================== -->
                    <div id="tab-about" class="tab-content">

                        <div class="tab-entry">

                            <div class="row tab-entry-intro">
                                <div class="col-twelve with-bottom-line">

                                    <h1>Get To Know Us.</h1>

                                    <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

                                </div>
                            </div> <!-- /tab-content-intro -->

                            <div class="row about-content tab-entry-content">

                                <div class="about-list block-1-3 block-s-1-2 block-tab-full">

                                    <div class="bgrid item">

                                        <span class="icon"><i class="icon-mobile"></i></span>

                                        <div class="item-content">

                                            <h3 class="h05">Fully Resposive</h3>

                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                                            </p>

                                        </div>

                                    </div> <!-- /bgrid -->

                                    <div class="bgrid item">

                                        <span class="icon"><i class="icon-eye"></i></span>

                                        <div class="item-content">
                                            <h3 class="h05">Retina Ready</h3>

                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                                            </p>


                                        </div>

                                    </div> <!-- /bgrid -->

                                    <div class="bgrid item">

                                        <span class="icon"><i class="icon-pencil-ruler"></i></span>

                                        <div class="item-content">
                                            <h3 class="h05">Stylish Design</h3>

                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                                            </p>


                                        </div>

                                    </div> <!-- /bgrid -->

                                    <div class="bgrid item">

                                        <span class="icon"><i class="icon-objects"></i></span>

                                        <div class="item-content">
                                            <h3 class="h05">Clean Code</h3>

                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                                            </p>


                                        </div>

                                    </div> <!-- /bgrid -->

                                    <div class="bgrid item">

                                        <span class="icon"><i class="icon-sliders"></i></span>

                                        <div class="item-content">
                                            <h3 class="h05">Easy To Customize</h3>

                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                                            </p>


                                        </div>

                                    </div> <!-- /bgrid -->

                                    <div class="bgrid item">

                                        <span class="icon"><i class="icon-gift"></i></span>

                                        <div class="item-content">
                                            <h3 class="h05">Free of Charge</h3>

                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                                            </p>

                                        </div>

                                    </div> <!-- /bgrid -->

                                </div> <!-- /about-list -->

                            </div> <!-- /row about-content -->

                        </div> <!-- /tab-entry -->

                    </div> <!-- /tab-about -->
                    <!-- tab content contact
                    ================================================== -->
                    <div id="tab-contact" class="tab-content">

                        <div class="tab-entry">

                            <div class="row tab-entry-intro">
                                <div class="col-twelve with-bottom-line">

                                    <h1>Get In Touch.</h1>

                                    <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

                                </div>
                            </div> <!-- /tab-content-intro -->

                            <div class="row form-wrap tab-entry-content">
                                <div class="col-twelve">

                                    <!-- form -->
                                    <form name="contactForm" id="contactForm" method="post" action="">
                                        <fieldset>

                                            <div class="form-field">
                                                <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                                            </div>
                                            <div class="form-field">
                                                <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
                                            </div>
                                            <div class="form-field">
                                                <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
                                            </div>
                                            <div class="form-field">
                                                <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
                                            </div>
                                            <div class="form-field">
                                                <button class="submitForm button button-primary large">Submit</button>

                                                <div id="submit-loader">
                                                    <div class="text-loader">Sending...</div>
                                                    <div class="s-loader">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div><!-- submit-loader -->
                                            </div>

                                        </fieldset>
                                    </form> <!-- /form -->
                                    <!-- contact-warning -->
                                    <div id="message-warning">
                                    </div>
                                    <!-- contact-success -->
                                    <div id="message-success">
                                        <i class="fa fa-check"></i>Your message was sent, thank you!<br>
                                    </div>

                                </div> <!-- /col-twelve -->
                            </div> <!-- /row contact-form -->

                        </div> <!-- /tab-entry -->

                    </div> <!-- /tab-contact -->
                    <!-- tab content - subscribe
                    ================================================== -->
                    <div id="tab-subscribe" class="tab-content">

                        <div class="tab-entry">

                            <div class="row tab-entry-intro">
                                <div class="col-twelve with-bottom-line">

                                    <h1>Subcribe To Our Newsletter.</h1>

                                    <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

                                </div>
                            </div> <!-- /tab-content-intro -->

                            <div class="row form-wrap tab-entry-content">
                                <div class="col-twelve">

                                    <form id="mc-form" class="group" novalidate="true">

                                        <div class="form-field">
                                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
                                        </div>

                                        <div class="form-field">
                                            <input type="submit" value="Get Notified" name="subscribe" class="button button-primary large">
                                        </div>

                                        <label for="mce-EMAIL" class="subscribe-message"></label>

                                    </form>

                                </div> <!-- /twelve -->
                            </div> <!-- subscribe-form -->

                        </div> <!-- /tab-entry -->

                    </div> <!-- /tab-subscribe -->

                </div> <!-- /tab-container -->

            </div> <!-- twelve -->
        </div> <!-- row -->

    </section> <!-- /info -->
    <!-- CTA Section
    ================================================== -->
    <section id="cta">

        <div class="row cta-wrap">

            <div class="col-twelve cta-content">

                <h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends Dreamhost.</a></h2>

                <p class="lead">
                    Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.
                    Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>.
                    <!-- Simply type	the promocode in the box labeled “Promo Code” when placing your order. -->
                </p>

                <div class="action">
                    <a class="button large" href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Sign Up Now</a>
                </div>

            </div>

        </div> <!-- /cta-content -->

    </section> <!-- /cta -->
    <!-- footer
    ================================================== -->
    <footer>

        <div class="social-wrap">
            <div class="row">

                <ul class="footer-social-list">
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i><span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i><span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-pinterest"></i><span>Pinterest</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i><span>Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-dribbble"></i><span>Dribbble</span>
                        </a>
                    </li>
                </ul>

            </div> <!-- /row -->
        </div> <!-- /social-wrap -->

        <div class="footer-bottom">

            <div class="footer-logo">
                <img src="images/footer-logo.png" alt="">
            </div>

            <div class="copyright">
                <span>© Copyright Khronos 2016.</span>
                <span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>
            </div>

        </div> <!-- /footer-bottom -->

        <div class="back-to-top">
            <a href="#top" class="smoothscroll"><span>Back to Top</span></a>
        </div>

    </footer>

    <div id="preloader">
        <div id="loader"></div>
    </div>
    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- Java Script
    ================================================== -->
    <script src="~/assets/js/jquery-2.1.3.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>

</html>