﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="bgrid"> 
    <a asp-area="" asp-controller="Home" asp-action="Static" title="static background">
        <div class="image-part">
            <img src="assets/images/demo/demo-static.jpg" alt="">
            <div class="overlay"></div>
            <div class="link-icon"><i class="fa fa-plus"></i></div>
        </div>
        <div class="demo-title">
            <h3>Static Background</h3>
        </div>
    </a>
</div>
<div class="bgrid">
    <a href="demo-slides.html" title="slideshow background">
        <div class="image-part">
            <img src="assets/images/demo/demo-slideshow.jpg" alt="">
            <div class="overlay"></div>
            <div class="link-icon"><i class="fa fa-plus"></i></div>
        </div>
        <div class="demo-title">
            <h3>Slideshow Background</h3>
        </div>
    </a>
</div>

<div class="bgrid">
    <a asp-area="" asp-controller="Home" asp-action="Particles" title="particles background">
        <div class="image-part">
            <img src="assets/images/demo/demo-particles.jpg" alt="">
            <div class="overlay"></div>
            <div class="link-icon"><i class="fa fa-plus"></i></div>
        </div>
        <div class="demo-title">
            <h3>Particles Background</h3>
        </div>
    </a>
</div>